
@import '../_colors';

.container {
  @include color(background, 'background-contrast');

  width: 100vw;
  margin-left: calc(#{50%} - #{50vw});

  position: relative;
  overflow: hidden;

  noscript,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.thumbnail {
  filter: blur(60px);
  opacity: 0;

  .static > &,
  .loading > & {
    opacity: 1;
  }

  .transition > &,
  .ready > & {
    transition: opacity 300ms ease-in 200ms;
  }
}

