
.loadTrigger {
  margin: 5rem 0;
  text-align: center;

  transition: opacity 300ms ease-in-out;
  opacity: 0;

  .loading & {
    opacity: 1;
  }
}

.staticLink {
  position: relative;
  text-align: center;

  &.next {
    margin-bottom: -3rem;
  }
  &.previous {
    margin-top: -24rem;
  }

  :global(body.ready) & {
    display: none;
  }
  i {
    vertical-align: text-top;
  }
}

