
.loadTrigger {
  margin: 5rem 0;
  text-align: center;

  transition: opacity 300ms ease-in-out;
  opacity: 0;

  .loading & {
    opacity: 1;
  }
}

.staticLink {
  text-align: center;
  margin-bottom: 28rem;

  :global(body.ready) & {
    display: none;
  }
  i {
    vertical-align: text-top;
  }
}

