/* andada-regular - latin-ext_latin */
@font-face {
  font-family: 'Andada';
  font-style: normal;
  font-weight: 400;
  src: url('parrot-layout/fonts/andada-v9-latin-ext_latin-regular.eot');
  src: local('Andada Regular'), local('Andada-Regular'),
  url('parrot-layout/fonts/andada-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
  url('parrot-layout/fonts/andada-v9-latin-ext_latin-regular.woff2') format('woff2'),
  url('parrot-layout/fonts/andada-v9-latin-ext_latin-regular.woff') format('woff'),
  url('parrot-layout/fonts/andada-v9-latin-ext_latin-regular.ttf') format('truetype'),
  url('parrot-layout/fonts/andada-v9-latin-ext_latin-regular.svg#Andada') format('svg');
}

/* material-icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('material-design-icons/iconfont/MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url('material-design-icons/iconfont/MaterialIcons-Regular.eot?#ieprefix') format('embedded-opentype'),
  url('material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
  url('material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
  url('material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

:global(.material-icons) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* roboto-slab-300 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-300.eot');
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-300.woff2') format('woff2'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-300.woff') format('woff'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-300.ttf') format('truetype'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-300.svg#RobotoSlab') format('svg');
}

/* roboto-slab-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-regular.eot');
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-regular.woff2') format('woff2'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-regular.woff') format('woff'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-regular.ttf') format('truetype'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-regular.svg#RobotoSlab') format('svg');
}

/* roboto-slab-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-700.eot');
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-700.woff2') format('woff2'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-700.woff') format('woff'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-700.ttf') format('truetype'),
       url('parrot-layout/fonts/roboto-slab-v7-latin-ext_latin-700.svg#RobotoSlab') format('svg');
}

