@import '../_breaks';

%jumboIcon {
  display: inline-block;

  width: 0;
  height: 1rem;

  vertical-align: top;
  margin: -3rem 16rem 0 -16rem;

  font-size: 46rem;
  opacity: .1;

  @include break(500) {
    margin: -3rem 20rem 0 -20rem;
  }
  @include break(700, 900) {
    vertical-align: inherit;
    margin: 0 5rem 0 -5rem;
    font-size: inherit;
    opacity: 1;
  }
}

.indexJumbo {
  :global(.image) {
    display: block;
    position: relative;

    &::before {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: url('./cover.jpg');
      opacity: 0;
    }
  }
  :global(.loaded) {
    :global(.image) {
      &::before {
        transition: opacity 300ms ease-out;
        opacity: 1;
      }
    }
  }

  :global(.text) {
    padding-left: 6rem;

    @include break(700, 900) {
      padding-left: 0;
    }
  }

  :global(.animation) {
    h2 {
      opacity: 0;

      animation: appear;
      animation-duration: 1100ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;

      @include break(300) {
        animation: appear-mobile;
        animation-duration: 1100ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
    }

    li {
      opacity: 0;

      animation: park-right;
      animation-duration: 500ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;

      &:nth-child(1) {
        animation-delay: 1000ms;
      }
      &:nth-child(2) {
        animation-delay: 1100ms;
      }
      &:nth-child(3) {
        animation-delay: 1200ms;
      }
    }
  }
}

.tagJumbo {
  :global(.text) {
    padding-left: 10rem;

    @include break(700, 900) {
      padding-left: 0;
    }
  }

  h2 {
    text-transform: uppercase;

    &::before {
      content: '#';
      @extend %jumboIcon;
    }
  }
}

.menuEntryJumbo {
  :global(.text) {
    padding-left: 7rem;

    @include break(700, 900) {
      padding-left: 0;
    }
  }

  h2 {
    i {
      @extend %jumboIcon;
      margin-top: -19rem;

      @include break(700, 900) {
        vertical-align: top;
        margin: 1.5rem 8rem 0 -8rem;
        font-size: inherit;
        opacity: 1;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0, 52px);
  }
  20% {
    opacity: 1;
    transform: translate(0, 52px);
  }
  60% {
    opacity: 1;
    transform: translate(0, 52px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes appear-mobile {
  0% {
    opacity: 0;
    transform: translate(0, 88px);
  }
  20% {
    opacity: 1;
    transform: translate(0, 88px);
  }
  60% {
    opacity: 1;
    transform: translate(0, 88px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes park-right {
  0% {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  80% {
    opacity: 1;
    transform: translate(4px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

