@import '../_breaks';

%jumboIcon {
  display: inline-block;

  width: 0;
  height: 1rem;

  vertical-align: top;
  margin: -3rem 16rem 0 -16rem;

  font-size: 46rem;
  opacity: .1;

  @include break(500) {
    margin: -3rem 20rem 0 -20rem;
  }
  @include break(700, 900) {
    vertical-align: inherit;
    margin: 0 5rem 0 -5rem;
    font-size: inherit;
    opacity: 1;
  }
}

.indexJumbo {
  :global(.image) {
    background-image: url('./cover.jpg');
    opacity: 0;

    animation: fade-in;
    animation-delay: 200ms;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }

  :global(.text) {
    padding-left: 6rem;
    opacity: 0;
    position: relative;

    animation: park-up;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @include break(700, 900) {
      padding-left: 0;
    }
  }
}

.tagJumbo {
  :global(.text) {
    padding-left: 10rem;

    @include break(700, 900) {
      padding-left: 0;
    }
  }

  h2 {
    text-transform: uppercase;

    &::before {
      content: '#';
      @extend %jumboIcon;
    }
  }
}

.menuEntryJumbo {
  :global(.text) {
    padding-left: 7rem;

    @include break(700, 900) {
      padding-left: 0;
    }
  }

  h2 {
    i {
      @extend %jumboIcon;
      margin-top: -19rem;

      @include break(700, 900) {
        vertical-align: top;
        margin: 1.5rem 8rem 0 -8rem;
        font-size: inherit;
        opacity: 1;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes park-up {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

