@import '../_variables';
@import '../_breaks';
@import '../_colors';
@import '../_typography';
@import '../_utils';

html {
  font-size: $sizing-unit;
  height: 100%;
  overflow-y: scroll;
}

@import './_fonts';
@import './_typography';
@import './_jumbotrons';

$bgBase64: 'data:image/png;base64,'
  + 'iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI'
  + 'WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QcZCzkbBkkNNQAAAHFJREFUaN7t1bENACAIBEBwJPef'
  + 'wZnsYQLIfWesPnlyGT23vN/k/xPLo+D05Labq/8mquCAG+SgiSrIQQ6aKAc5aKIKcpCDJspBDpqo'
  + 'ghzkoIlykIMmqiAHOWiiHOSgiSrIQQ66QQ5y0EQV5CAH3eDefJAaXMEw5G3+AAAAAElFTkSuQmCC';

body {
  @include color(background-color, background-page);
  background-image: url(#{$bgBase64});

  background-repeat: repeat;
  background-position: top left;

  margin: 0;
  height: 100%;
}

:global(#root),
#all {
  height: 100%;
  min-height: 100%;
  overflow: visible;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @include color(background-color, background-post);

  box-shadow: 0 0 3px rgba(black, .4);
}

.main {
  overflow: hidden;
  box-sizing: border-box;

  padding-top: 14rem;
  padding-bottom: 14rem;
  min-height: calc(#{100%} - #{152rem});

  @include break(500) {
    min-height: calc(#{100%} - #{105rem});
  }
  @include break(700) {
    padding-top: 18rem;
    min-height: calc(#{100%} - #{116rem});
  }
  @include break(900) {
    padding-top: 18rem;
    min-height: calc(#{100%} - #{96rem});
  }

  @include color(background-color, 'background-post');

  main {
    @extend %full-width;

    padding-top: 6rem;

    @include break(900) {
      padding-top: 7rem;
    }
  }

  img {
    @extend %vw100;

    margin-top: 6rem;
    margin-bottom: 3rem;

    @include break(900) {
      margin-top: 8rem;
      margin-bottom: 5rem;
    }
  }

  :global(.content) {
    p:first-child {
      img:first-child {
        margin-top: -3rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.topLike {
}
.bottomLike {
  margin-bottom: -10rem;
}

.comments {
  @include color(background-color, 'background-comments');

  > div {
    @extend %full-width;

    padding-top: 14rem;
    padding-bottom: 16rem;

    @include break(900) {
      padding-top: 16rem;
      padding-bottom: 20rem;
    }
  }

  #disqus_thread {
    @include font(text, p, 400);
    @include baseline(text, p);
    @include color(color, 'text');
  }
}

.footer {
  @include color(background-color, background-contrast);
}

.bottom {
  @include color(background-color, 'dark', .2);
  overflow: hidden;

  .content {
    @extend %full-width;

    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: 12rem;

    @include break(500, 700, 900) {
      padding-top: 10rem;
      padding-bottom: 8rem;
    }
  }

  .zblogowani {
    box-sizing: border-box;
    display: flex;

    width: 100%;
    justify-content: center;
    margin: 8rem 0;

    @include break(500, 700, 900) {
      width: 50%;
      justify-content: flex-start;
      margin: 0;
    }

    a {
      display: block;

      @include break(300) {
        width: 100%;
        display: flex;
        justify-content: center;
        @include color(background-color, 'background-page', .3);
      }

      padding: 2rem 0 2rem 0;

      @include break(500) {
        padding: 0 0 0 2rem;
      }
      @include break(700) {
        padding: 2rem 0 0 0;
      }
      @include break(900) {
        padding: 0;
        transform: scale(1.435);
        transform-origin: 0 16%;
      }
    }

    img {
      display: block;
      filter: brightness(.8) contrast(1.6);

      @include break(500, 700) {
        outline: solid 1rem;
        @include color(outline-color, text-contrast, .6);
      }
      @include break(900) {
        outline: solid calc(#{1rem} / #{1.3});
        @include color(outline-color, text-contrast, .6);
      }
    }
  }

  .logo {
    box-sizing: border-box;
    width: 100%;
    display: flex;

    justify-content: center;

    @include break(500, 700, 900) {
      width: 50%;
      padding-right: 4rem;
      justify-content: flex-end;
    }

    svg {
      margin-left: 2rem;
      height: 10rem;

      @include break(700) {
          height: 14rem;
      }
      @include break(700, 900) {
          height: 17rem;
      }
    }
  }
}

.sideMenu {
  @include disable-text-selection;

  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;
  transition: background-color 300ms ease-out;

  &.visible {
    @include color(background-color, 'background-overlay', 0.6);
  }
  &.closed {
    left: -100%;
  }

  height: 100%;
  width: 100%;

  display: flex;

  @include break(700, 900) {
    display: none;
  }
}

