@import '../_breaks';

$placeholder-base64: ''
  +'iVBORw0KGgoAAAANSUhEUgAAAEMAAAAcCAYAAAA6EgJRAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI'
  +'WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QweEy8qsz1DuAAAA3xJREFUWMPtmV1sU2UYx39nO+12'
  +'2rOlXRs5iHUh0zG26hpl4uhY4pYIBmoZkAZJiMCNYo0hXEyNZCZkxITEcWHEeYcJF2SGODeCmtgt'
  +'GSggiK3ZptahmUPYwvph7QftqvUCB26OsWBpMD3/q3PO+7zJk9953v/znvMKmUyGyfA1w5ETP677'
  +'wnv5SDCSIl9UVqplVe3ibdvWVR43G4rDwtVQwuB+62RoMpwAQSDvlMlgNki8+/pqY+HiR1ybvT9M'
  +'bsxLEACCQDyZJhJL+Qvlig2+a6k/yXcFf0s6C0J55BHzKfR7kgIVw039Jxh6SWRj01IVBsDm5grc'
  +'LisVD5SqMBaZJABsleaFTRBNtO534OlcydPiXOMGdu934Ol4DLsI+vqVeDodvL9GzgkM8U4n2msV'
  +'1tRbAPD6J7OTTTpKb9fXeDVxRtK5rwzxTiui9XkbABOBBBcvRbKUjYzD9TgO6VfavBfwzkq1bmsD'
  +'+xqLGe76ktf6IsjVVexuWYJNKUIbj/LVZ99yoC9MLJcw3C4rsk5zfQNHhrf3rJoxfqhrMHuA/l7N'
  +'FU117G3U8YvnLG19EaZM5ezd9TC2yBUOvvMz0RU1vOqqwx3o54Avffdg9Bx8Br0kEo1P4dzzKfZa'
  +'5caYYtKhmHQz4m2V5qzCkGtq2LfUTGroG9o+DBADjLX3U62BkXN+jvsjMDaKo/5R7CvMaHzjTN0t'
  +'GHrpeth0NcynaHyKY30/ZXUtK9MGrRhRxEtMpKGstAgt8NDaBj5pBihEqwFMMmXARC4N9NZbfQG9'
  +'JBJLZM8BxwfO0B5YRkeLhZfWj/Fyd5hgJEmKEsYHztE+kLwZnIgTzHU3uZVOea8sAISEfX0VD/7z'
  +'UeAqx07/MXe1BRJ85xmkt341m5qtbDp/iqO+ywy3mKmutLDcO0pIKWdLo0zQc4E3T0bvDRgXxxbi'
  +'FSU0rC2Z9fqh//T4PG03zAcfjfHULgvPucrp7xil/T2JVpcF9ytL0MbjDA+NcPT8XCBk4PaAhKYX'
  +'ejK3C/J0Om5cN7/YO+N+tg51DWXdM+6pfUYskZ7hA1vf+PxfHWRaPn/g//trYyGVoX61qjBUGKpU'
  +'GHPAMJZqVQqAsaSIgietynYyakN5wnrfjoLtzy77WNZpgTw9N0FAljTsdFZ1C9PHi4d7vneeHZw4'
  +'nG/Hi3U1i3bsdFZ1mw3F4b8AitMuI/pptQwAAAAASUVORK5CYII='
;

%scale {
  transform-origin: 0 100%;
  transform: scale(1.2, 1.2);

  @include break(700, 900) {
    transform: scale(1, 1);
  }
}

.like {
  position: relative;

  height: 7rem;
  margin: 9rem 0;

  :global(.privacyBadgerReplacementButton) {
    margin: 0 !important;
  }
  :global(.privacyBadgerOriginalButton) {
    height: 100% !important;
  }

  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    border: 0;
    overflow: hidden;

    @extend %scale;
  }

  &::before {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    background: transparent url('data:image/png;base64,#{$placeholder-base64}') top left no-repeat;

    margin: 0 !important;
    width: 300px;
    height: 100%;

    @extend %scale;
  }
}

