@import '../_breaks';

.like {
  height: 7rem;
  margin: 9rem 0;


  :global(.privacyBadgerReplacementButton) {
    margin: 0 !important;
  }
  :global(.privacyBadgerOriginalButton) {
    height: 100% !important;
  }

  iframe {
    display: block;
    height: 100%;

    border: 0;
    overflow: hidden;

    transform-origin: 0 100%;
    transform: scale(1.2, 1.2);

    @include break(700, 900) {
      transform: none;
    }
  }
}

